body {
    margin: 0;
}
.sheet {
    padding: 1cm;
    margin: 0;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    page-break-after: always;

    & .remove {
        position: absolute;
        width: 20px;
        height: 20px;
        background-color: #ccc;
        top: 0;
        left: 0;
        cursor: pointer;
        opacity: 1;
        align: center;
        padding: 3px;
        font-family: Arial;
        color: #555;
        opacity: 0;

        &:hover {
            opacity: 1 !important;
        }
    }
}

/** Paper sizes **/
body.A3 .sheet {
    width: 297mm;
    height: 419mm;
}
body.A3.landscape .sheet {
    width: 420mm;
    height: 296mm;
}
body.A4 .sheet {
    width: 210mm;
    height: 296mm;
}
body.A4.landscape .sheet {
    width: 297mm;
    height: 209mm;
}
body.A5 .sheet {
    width: 148mm;
    height: 209mm;
}
body.A5.landscape .sheet {
    width: 210mm;
    height: 147mm;
}

/** For screen preview **/
@media screen {
    body {
        background: #e0e0e0;
    }
    .sheet {
        background: white;
        box-shadow: 0 0.5mm 2mm rgba(0, 0, 0, 0.3);
        margin: 5mm;

        &.selected {
            box-shadow: 2mm 2mm 2mm rgba(255, 0, 128, 0.3);
        }
    }
}

/** Fix for Chrome issue #273306 **/
@media print {
    body.A3.landscape {
        width: 420mm;
    }
    body.A3,
    body.A4.landscape {
        width: 297mm;
    }
    body.A4,
    body.A5.landscape {
        width: 210mm;
    }
    body.A5 {
        width: 148mm;
    }
    .resizable {
        resize: none !important;
    }
    .box {
        border: none !important;
        & .lock {
            display: none;
        }
    }
}

.printer-map {
    right: 0;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
}

:root {
    --footer-height: 30px;
    --footer-present: 0;
}
