@font-face {
    font-family: icofont;
    font-style: normal;
    font-weight: 400;
    src: url("icofont.woff2") format("woff2");
}

.toolbar {
    position: fixed;
    left: 220mm;
    top: 0;
    bottom: 0;
    width: 30px;
    background: white;
    box-shadow: 0 0.5mm 2mm rgb(0 0 0 / 30%);
    margin: 5mm;
    padding: 0.2vh 5px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;

    & button {
        border: none;
        box-shadow: 0 0.5mm 2mm rgb(0 0 0 / 60%);
        margin-top: 1.5vh;
        padding: 0.2vh 5px;
        border-radius: 10px;
        width: 30px;
        height: 2.8vh;
        max-height: 30px;
        background-color: #ccc;
        cursor: pointer;
        font-family: icofont;
    }
    & hr {
        width: 100%;
        margin: 1.5vh 0 0 0;
    }
}

.icon-page span:before {
    display: inline;
    content: "\efb2";
}

.icon-page.landscape span:before {
    display: inline-block;
    transform: rotate(90deg);
}

.icon-align-left:before {
    content: "\ede0";
}

.icon-align-center:before {
    content: "\eddf";
}

.icon-align-right:before {
    content: "\ede1";
}

.icon-print:before {
    content: "\efc6";
}

.icon-remove:before {
    content: "\ec7e";
}

.icon-zoom:before {
    content: "\ed12";
}

.A4.landscape .toolbar,
.A3.portrait .toolbar {
    left: 310mm;
}

.A3.landscape .toolbar {
    right: 50px;
    left: inherit !important;
    z-index: 1;
}

@media print {
    .toolbar {
        display: none;
    }
}
